@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//  IMPORT FILES
@import './variables';
@import './header';
@import './downoaldButton';
@import './welcome-section';
@import './projects';
@import './footer';
@import './about';


html{
    scroll-behavior: smooth;
}
@media (max-width: 75em) {
    html {
      font-size: 60%;
      width: 100vw;
    }
  } 
  
  /* 980px / 16px = 61.25em */
 @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
      
    }
  }
body{
    font-family: $font;
    font-weight: $light;
    font-size: $fontSize;
    line-height: 2.3rem;
    color:$base;
    background-color:$body;
  margin: 0 auto;
  height: 100vh;
 
}

